# Train and test a recommender

Prepare the dataset as introduced before:

In [1]:
import rsdiv as rs

loader = rs.MovieLens1MDownLoader()
ratings = loader.read_ratings()
items = loader.read_items()

**rsdiv** provides various implementations of core recommender algorithms. 

To start with, a wrapper for `LightFM` is also supported:

In [2]:
rc = rs.FMRecommender(ratings, items).fit()

30% of interactions are split for the test set by default, and the precision at the `top 5` can be calculated with:

In [3]:
rc.precision_at_top_k(5)

0.15490067

the `top 100` unseen recommended items for an arbitrary user, say `userId: 1024`, can be simply given by:

In [4]:
rc.predict_top_n_item(1024, 100)

,itemId,scores,title,genres,release_date
0,2557,2.150918,I Stand Alone (Seul contre tous),[Drama],1998.0
1,3383,1.817652,Big Fella,"[Drama, Musical]",1937.0
2,3509,1.765901,Black and White,[Drama],1999.0
3,3377,1.750267,Hangmen Also Die,"[Drama, War]",1943.0
4,3550,1.735399,Hunger,[Horror],1983.0
...,...,...,...,...,...
95,2601,0.713556,Little Bit of Soul,[Comedy],1998.0
96,3280,0.704618,Baby,[Horror],1973.0
97,2558,0.696108,Forces of Nature,"[Comedy, Romance]",1999.0
98,1125,0.691424,Return of the Pink Panther,[Comedy],1974.0
99,1050,0.684174,Looking for Richard,"[Documentary, Drama]",1996.0